.wrapper
  .welcome-index-page
    %h1
      The simple Sudoku
    %h2
      with Network
    %p
      複数人でできる数独です。
    = link_to "ソロプレイ", "#", class: "btn"
    = link_to "マルチプレイ", "#", class: "btn"
    = link_to "協力プレイ", "#", class: "btn"
